body {
  overflow-x: hidden;
  font-family: 'Cabin', sans-serif, Arial, Helvetica, sans-serif;
  color: #505962;
  box-sizing: border-box;
}
.bg-dark {
  background-color: #141414 !important;
}
.btn-primary {
  background-color: #f0f1b5 !important;
  border: none;
  color: #141414 !important;
}
.btn-secondary {
  background-color: #f0f1b5 !important;
  border: none;
  color: #141414 !important;
}
.btn-primary:hover {
  color: #f0f1b5 !important;
  background-color: #141414 !important;
}
.btn-secondary:hover {
  color: #141414 !important;
  background-color: #d8d8a2 !important;
}
ul {
  list-style: none;
}
a:hover {
  text-decoration: none;
  color: #f0f1b5 !important;
}
a {
  color: #fff;
}
img {
  max-width: 600px;
  max-height: 100%;
}
#showcase {
  background-color: #0c0c0c;
}
.alternate-text {
  color: #f0f1b5 !important;
}
.card-body img {
  max-height: 300px;
}
.my-profile {
  margin-top: auto;
  margin-bottom: auto;
}
.kenburns-bottom {
  -webkit-animation: kenburns-bottom 5s ease-out both;
  animation: kenburns-bottom 5s ease-out both;
}
@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}
@media only screen and (max-width: 576px) {
  .bg-small {
    background-image: url('img/projects2.jpg');
    background-size: cover;
  }

  .align-center {
    text-align: center;
  }
  .sml-project {
    display: block !important;
  }
  .kenburns-bottom {
    animation: none;
  }
}
